body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
// estilos de header home 
.header-home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    background-image: url(../multimedia/img/fondo5.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #faf5f5;
    h1{
        text-align: center;
        font-size: $tamañoH1;
    }
    p{
        text-align: center;
        max-width: 500px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    }
}
// estilos main home
.main-index{
    min-height: 100%;
    background-image: url(../multimedia/img/fondo5.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #faf5f5;
}
.row {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    h5{
        text-align: center;
    }
}

.container div h4{
    padding: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: $tamañoH1;
    font-weight: bold;
}
.col img{
    width: 510px;
}
.seccion-1-img1{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img2{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img3{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img4{
    display: flex;
    justify-content: center;
    width: revert;
}
.img-fluid {
    width: -webkit-fill-available;
}

.sedesHome-2 {
    min-height: 100%;
    background-image: url(../multimedia/img/fondo5.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #faf5f5;
    
}
.sedesHome-2 h4 {
    @extend.titulo-h;
    padding: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: $tamañoH1;
    font-weight: bold;
}

// ---------------------------------------------------------------------------

@media screen and (min-width: 768px) {

    /* Estilos header home*/
    .header-home{
        display: grid;
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        background-color: #faf5f5;
        min-height: 300px;
    }
    .header-home h1{
        font-size: $tamañoH1;
    }
    .header-home p{
        font-size: 18px;
    }

}

@media screen and (min-width: 1024px){
    .header-home{
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        background-color: #faf5f5;
        min-height: 600px;
    }
    .header-home h1{
        font-size: 50px;
    }
    .header-home p{
        font-size: 28px;
    }
    .header-home h1 img{
        overflow: hidden;
        transition:all .5s ease-in-out;

    }
    .row {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        h5{
            text-align: center;
        }
    }
    .img-fluid {
        width: -webkit-fill-available;
    }
}

// ------------------- HOVER ------------------------------------
.container:hover img{
    filter: saturate(200%);
    
}

$titulos-home: (
    h: #070707,
);

@each $home, $color in $titulos-home{
    .titulo-#{$home} {
        color: $color;
    }
}



